<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Password Reset</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <form action="{{password_reset_port_url}}">
    <input type="hidden" name="token" value="{{reset_password_token}}">
    <div class='form_input'>
      <label for="password">Password</label>
      <input type="password" name="password" id="password"\>
    </div>

    <div class='form_input'>
      <label for="password_confirmation">Password</label>
      <input type="password" name="password_confirmation" id="password_confirmation" \>
    </div>
  </form>
</body>
</html>